#navbar {
    background-color: white;
    height: 100%;
}

#sales_chart {
    background-color: whitesmoke;
}

#sales_table {
    background-color: lightgray;
    height: 300px !important;
    overflow: scroll;
}

.table-responsive {
    max-height: 50%;
    overflow-y: hidden;
}